.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.slogan {
  font-size: 44px;
  color: #F7ECDA;
  text-align: center;
}

.wrap {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  margin-left: 2%;
  margin-bottom: 1%;
  gap: 424%;
}

.wrap img {
  transition: transform 0.3s ease;
}

.wrap img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.modal-content {
  position: fixed;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 25%;
  width: 30%;
  height: 10%;
  font-size: 44px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: #75685B;
  background-color: #F7ECDA;
}

.modal-content p {
  transition: transform 0.3s ease; 
}

.modal-content p:hover {
  color: #6AACCE;
  transform: scale(1.1);
  cursor: pointer;
}