.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.slogan {
  font-size: 44px;
  color: #F7ECDA;
  text-align: center;
}
